<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bonnie soundboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A578B8C41E11167C00157A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A578B8D81E11167D00157A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A578B8E31E11167D00157A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
